body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    color: #363636;
}

#container {
    margin: 30px auto;
    width: 865px;
}

#title {
    text-align: center;
}

.subtitle {
    font-weight: bold;
    font-size: 1.25em;
    display: block;
}

.only-top-margin {
	margin: 15px 0px 0px 0px;
}

#menu {
    float: left;
    width: 200px;
}

.clear {
    clear: both;
}

.box {
    background: #ffffff;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

#footer {
	text-align: right;
	margin: 15px 0px 0px 0px;
	border-top: 1px solid #d0d1d5;
	color: #d0d1d5;
	font-size: 0.75em;
}

#contentFull {
    width: 300px;
    margin: 25px auto 0px auto;
}

#content {
    float: right;
    width: 605px;
}

a {
    color: #4a5d75;
    text-decoration: none;
}

a:hover {
    color: #369;
    text-decoration: underline;
}

h1 {
    color: #243446;
    font-size: 2.25em;
}

.simpletablestyle {
    background-color: #E6E7E8;
    clear: both;
    width: 100%;
    margin-top: 15px;
}

.simpletablestyle img {
    border: 0px;
}

.simpletablestyle td {
    height: 2em;
    padding-left: 6px;
    font-size: 11px;
    padding: 5px 5px;
}

.simpletablestyle th {
    background: url(#{request.contextPath}/resources/gfx/bkg-blkheader.png)
        black repeat-x top left;
    font-size: 12px;
    font-weight: normal;
    padding: 0 10px 0 5px;
    border-bottom: #999999 dotted 1px;
}

.simpletablestyle .header a {
    color: #94aebd;
}

.simpletablestype tfoot {
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    background-color: #EAECEE;
    text-align: center;
}

.simpletablestyle tr.header td {
    padding: 0px 10px 0px 5px;
}

.simpletablestyle .subheader {
    background-color: #e6e7e8;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

.simpletablestyle tr:nth-child(odd) {
    background: #f4f3f3;
}

.simpletablestyle tr:nth-child(even) {
    background: #ffffff;
}

.simpletablestyle td a:hover {
    color: #3883ce;
    text-decoration: none;
}

.message {
    margin: 15px 0px;
}

.message-sender {
    color: #3b59ba;
    float: left;
}

.message-date {
    float: right;
    font-size: 13px;
    color: #bdc1c9;
}

.message-content {
    clear: both;
}

.new-message-text {
    background: #ffffff;
    border: 1px solid #bdc1c9;
    color: #000000;
    padding: 5px;
    width: 100%;
    display: block;
    height: 50px;
    margin: 30px 0px 10px 0px;
    resize: vertical;
    box-sizing: border-box;
    min-height: 30px;
}

.submit-button {
    background: #ffffff;
    color: #000000;
    border: 1px solid #bdc1c9;
    padding: 3px 7px;
}

.submit-button:hover, .submit-button:active {
    border: 1px solid #c86464;
    color: #9b2f2f;
    cursor: pointer;
}

.reg-button {
    margin-left: 10px;
}

.td-center {
    text-align: center;
}

.td-left {
	text-align: left;
}

.td-right {
	text-align: right;
}

.td-error {
    color: #9b2f2f;
}

.user-edit-table {
    width: 100%;
}

.user-edit-table-margin {
	margin-top: 15px;
}

.user-edit-table td {
    padding: 3px;
}

.user-edit-td-titles {
	width: 85px;
}

.user-edit-text {
	width: 150px;
	border: 1px solid #bdc1c9;
	background: #ffffff;
}

.user-edit-text:focus {
	border: 1px solid #c86464;
}

.right {
    float: right;
}
